.search {
  width: 33%;
  margin-left: 55%;
}

#btnSearch {
  margin-right: 10px;
}

#notFound {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-outline-primary {
  width: 70px;
}

.btn-outline-danger {
  width: 70px;
}
