
  <div style="text-align:center">
    <h3>Employee test project</h3>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example" >
    <button type="button" class="btn btn-outline-primary" routerLink="/employee">List Employee</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/employee-create">Add Employee</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/employee-search">Search</button>
  </div>
  <router-outlet></router-outlet>
