<div *ngIf="totalElements !=0 ">
  <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Active</th>
        <th>Department Name</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td><a routerLink="/employee/{{employee.id}}">{{employee.name}}</a></td>
        <td>{{employee.active}}</td>
        <td>{{employee.departmentName}}</td>
        <td>
          <button type="button" routerLink="/employee-edit/{{employee.id}}"
                  class="btn btn-outline-primary">Edit
          </button>
        </td>
        <td>
          <button type="button" routerLink="/employee-delete/{{employee.id}}"
                  class="btn btn-outline-danger">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [pagesToPagination]="pagesToPagination"
      (goFirst)="onFirst($event)"
      (goPrev)="onPrev()"
      (goNext)="onNext()"
      (goLast)="onLast($event)"
      (goPage)="goToPage($event)">
    </app-pagination>
  </div>
</div>




